.wrapper {
    display: flex;
    flex-direction: column;
}

.img-ques-choices {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    
    .img-ques {
        width: 70%;
        border-radius: 12px;
    }

    .multi-choices {
        margin-left: 20px;

        .choice {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;

            .checkbox-container {
                width: 30px;
                height: 30px;
                margin-right: 5px;

                .checkbox {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-width: 0cap;
                    border-color: #181821cb;
                }

                .checkbox-fail {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-width: 0cap;
                    border-color: #ff5252;
                    background: #ff5252b0;
                }

                .checkbox-active-a {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-width: 0cap;
                    border-color: #19ce7a;
                    background: #19ce7a8c;
                }

                .checkbox-active-b {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-width: 0cap;
                    border-color: #19ce7a;
                    background: #19ce7a8c;
                }

                .checkbox-active-c {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-width: 0cap;
                    border-color: #19ce7a;
                    background: #19ce7a8c;
                }

                .checkbox-active-d {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-width: 0cap;
                    border-color: #19ce7a;
                    background: #19ce7a8c;
                }
            }
        }
    }
}

.answer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    .btn-answer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    .img-ans {
        margin-top: 10px;
        width: 100%;
        border-radius: 12px;
    }
}
.a-tag {
    color: black;
}
