.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: fit-content;

    .title {
        display: flex;
        flex-direction: column;
        font-size: 4rem;
        margin-right: 50px;
    }

    .introduce {
        display: flex;
        flex-direction: column;
        font-size: 1.1em;

        .btn {
            width: 50%;
            color: #a9b3bb;
        }
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: flex-end;
}