.wrapper {
    display: flex;
    flex-direction: column;
}

.img-ques-choices {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    
    .img-ques {
        width: 70%;
        border-radius: 12px;
    }

    .multi-choices {
        margin-left: 20px;

        .choice {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;

            .checkbox-container {
                width: 30px;
                height: 30px;
                margin-right: 5px;
                cursor: pointer;

                .checkbox {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-color: #181821cb;

                    &:hover {
                        background: transparent;
                        border-color: black;
                    }
                }

                .checkbox-active-a {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-color: #f05123;
                    background: #f04f23ab;
                }

                .checkbox-active-b {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-color: #f05123;
                    background: #f04f23ab;
                }

                .checkbox-active-c {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-color: #f05123;
                    background: #f04f23ab;
                }

                .checkbox-active-d {
                    width: 100%;
                    height: 100%;
                    border-style: solid;
                    border-radius: 12px;
                    border-color: #f05123;
                    background: #f04f23ab;
                }
            }
        }
    }
}

.answer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    .btn-answer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    .img-ans {
        margin-top: 10px;
        width: 100%;
        border-radius: 12px;
    }
}
